<div>
    <a [routerLink]="['/searchImage']" class="back">Back to Search &laquo;</a>
    </div>
<div class="container">
    
    <div class="imgmargin" *ngFor = "let displayImage of favImage; let i=index;" style="display: inline-block">
        <h6>List Name: {{displayImage.name}}</h6>
        <h6>Description: {{displayImage.description}}</h6>
        <img src='{{displayImage.imageUrl}}' style="height:200px; width:200px;" (click)="downloadFav(i);"/>
        <div class="row" style="padding-top:10px;padding-bottom:10px"></div>
        <button mat-raised-button mat-dialog-close (click)="editData(i)" class="saveBtn btn btn-primary">Edit List</button>
        
    </div>
    <div *ngIf ="editMode">
        <div class="row" style="padding-top:10px;padding-bottom:10px"></div>
        <div class="row">
            List Name: <input class="search" mat-input [(ngModel)]="editListData.name" name="search"  placeholder="Enter List Name" required>
        </div>
        <div class="row" style="padding-top:10px;padding-bottom:10px"></div>
        <div class="row">
            Description: <input class="search" mat-input [(ngModel)]="editListData.description" name="search"  placeholder="Enter List Name" required>
        </div>
        <div class="row">
            <div class="col-xs-12 pull-right">
              <button mat-raised-button mat-dialog-close 
                class="btn btn-success" (click)="updateList(editListData, $index)">Update</button>
            </div>
          </div>
    </div>
</div>
