<div class="btn btn-primary">
    <button  routerLink ="/searchImage" mat-button  mat-dialog-close class="btn btn-primary searchButton" type="button">Back to home</button>
</div>
<div class="container">
    
    <div class="imgmargin" *ngFor = "let displayImage of favImage; let i=index;" style="display: inline-block">
        <h6>List Name: {{displayImage.name}}</h6>
        <h6>Description: {{displayImage.description}}</h6>
        <img src='{{displayImage.imageUrl}}' style="height:200px; width:200px;" (click)="downloadFav(i);"/>
        <button mat-raised-button mat-dialog-close (click)="editData(i)" class="saveBtn btn btn-primary">Edit Data</button>
        
    </div>
    <div *ngIf ="editMode">
        List Name: <input class="search" mat-input [(ngModel)]="editListData.name" name="search"  placeholder="Enter List Name" required>
        Description: <input class="search" mat-input [(ngModel)]="editListData.description" name="search"  placeholder="Enter List Name" required>
        <div class="row">
            <div class="col-xs-12">
              <button mat-raised-button mat-dialog-close 
                class="btn btn-success" (click)="updateList(editListData, $index)">Update</button>
            </div>
          </div>
    </div>
</div>
