<div *ngIf= "!showInput && favLists.length > 0">
    <h4>Add to existing Lists</h4>

    <div  class="display:block" *ngFor="let list of favLists">
        <a style="cursor:pointer;" mat-dialog-close (click)="addToExisting(list)">{{list}}</a>
    </div>    
</div>
<hr/>
<h4>Create a New</h4>
<button  mat-button class="addBtn btn btn-primary" type="button" (click)="addNewList()">Create a New List</button>
<br/>
<div *ngIf= "showInput">
<input class="search" mat-input [(ngModel)]="listName" name="search"  placeholder="Enter List Name" required>
<button mat-raised-button mat-dialog-close (click)="addToFavourities(listName)" class="saveBtn btn btn-primary">Add</button>
</div>