<div *ngIf= "!showInput && (favLists && favLists.length > 0)">
    <h4>Add to existing Lists</h4>
    <br/>
    <div  class="display:block" *ngFor="let list of favLists">
       <a style="cursor:pointer;" routerLinkActive="active" mat-dialog-close (click)="addToExisting(list)">{{list}}</a>
     </div>    
</div>
<hr/>
<h4>Create a New</h4>
<button  mat-button class="addBtn btn btn-primary" type="button" (click)="addNewList()">Create a New List</button>
<br/>
<div class="row" style="padding-top:10px;padding-bottom:10px">

</div>
<div *ngIf= "showInput">
<input class="search" mat-input [(ngModel)]="listName" name="search"  placeholder="Enter List Name" required>
<div class="row" style="padding-top:10px;padding-bottom:10px"></div>
<button mat-raised-button mat-dialog-close (click)="addToFavourities(listName)" class="saveBtn btn btn-primary">Add</button>
</div>